body{
    background-image: url(/Images/pexels-philippedonn-1169754.jpg);
    height: 1000px;
    width: 100%;
    background-size: 100% 100%;
}
.navbar{
    /* overflow: hidden; */
    height: 100px;
    width: 50%;
    background-color: rgba(59, 57, 57, 0.9);
    margin-left: 700px ;
    /* margin-top: -20px; */
    
}
.navbar
    a{
 text-decoration: none;
 color: white;
 width: 100px;
 margin-left: 70px;    
}

.left{
    margin-left: 180px;
   margin-top: 50px;
   font-family: 'Barlow Condensed', sans-serif;
   letter-spacing: 0.4rem;
   font-size: 1.5rem;
}

.item active{
    float: right;
    margin-right: 100px;
    margin-top: 30px;

}
.ast1{
    color: white ;
    font-size: 35px;
    opacity: 0.4;
   margin-left: 40px;
    /* margin-top: 190px; */
    font-family: 'Bellefair', serif;
    
}
.name1{
    color: white;
    font-size: 5.8  rem;
    font-family: 'Bellefair', serif;
    
    /* margin-left: 160px;
    line-height: normal;
    margin-top: 26px; */
}
.information1{
    color: #d0d6f9; 
    font-size: 20px; 
    font-family: 'Barlow', sans-serif;
    margin-left: 160px ;
    margin-top: 50px;
   
}
.abc1{
    font-size: 55px; 
    /* float: left;  */
    color: white; 
    font-family: 'Bellefair', serif; 
    margin-left: 180px;
    margin-top: 20px;
}
.aaa{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    color: #d0d6f9;
    margin-left: 40px;
   
}
.img1{
    width: 850px;
    height: 900px;
    padding: 20px;
    padding-left: 400px;
    float: right;
   margin-right: 100px;
   padding-bottom: 500px;
    /* display: flex; */
}
.xyz1{
    color: white;
   position: absolute;
    font-size: 25px;
    top: 20%;
    left: 15%;
    font-size: 35px;    
}
.xyz2{
    color: white;
    padding: 20px;    
}
