body{
    background-image: url(/Images/pexels-philippedonn-1169754.jpg);
    height: 1000px;
    width: 100%;
    background-size: 100% 100%;
    
}
.navbar{
    /* overflow: hidden; */
    height: 100px;
    width: 50%;
    background-color: rgba(59, 57, 57, 0.9);
    margin-left: 670px ;
    /* margin-top: -20px; */
    
}
.navbar
    a{
 text-decoration: none;
 color: white;
 width: 100px;
 margin-left: 70px;    
}
.left{
    margin-left: 180px;
   margin-top: 50px;
   font-family: 'Barlow Condensed', sans-serif;
   letter-spacing: 0.4rem;
}
.abc{
    color: white; 
    
    font-size: 20px;
}
.pagination{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-left: 150px;
    margin-top: 200px;

/* flex-direction: column; */
/* gap: 3.2rem;
text-decoration: none;
border-radius: 50%; */
}
.pagination button {
    background: none;
    color: #ffffff;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    transition: all 0.3s ease;
}
.pagination button:hover {
    border: 1px solid rgba(255, 255, 255); 
     
    color: white; 
}
    
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 2.4rem; */
    position: relative;
    
    margin-top: -500px;
    margin-left: 300px;
    
}
.main-text span {
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5;
}
.main-text h1 {
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Bellefair', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main-text p {
    color: #d0d6f9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.tech-img-container {
    margin-left: 400px;
    height: 90%;
    top: 0;
    right: 0;

    
    margin-top: -690px;
    width: 70%;
}
.tech-img {
    /* margin: 4.8rem 0; */
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 20%;
    width: 58%;
}
